/* TODO(you): Write the CSS to finish the assignment! */

.choice-grid div.selected
{
  border: 2px solid #dcdcdc;
  background-color: #cfe3ff;
}


.result{

	margin-top: 40px;
	margin-bottom: 20px;	
	border: 2px solid #cccccc;
	background-color: #f4f4f4;
	width: 700px;	
	justify-content: flex-start;
	flex-direction: column;
	text-align: center;
}


