body{
	overflow-x: hidden;
}

.img-container{
	text-align: center;
}

#overlay
{
	background-image: url("../images/header.jpg");
	background-size: cover;
	width: 100%;
	height: 500px;
	display: flex;
	align-items: center;

}

#overlay .title{
	color: white;
	width: 780px;
	font-size: 36px;
	font-weight: normal;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#avatar 
{
	margin: -50px;		
}

.small-img{
	border-radius: 50%;
}

#detail{
	width: 100%;
	height: 100px;
	margin-top: 50px;
	margin-bottom: 60px;
}

.content{
	text-align: left;
	width: 66.67%;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	line-height: 32px;
}

.content ol{
	font-size: 36px;
}

.content ol li{
	padding-left: 40px;
}

.paragraph{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 18px;
}

.foot-image{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 120px;
}